
results/.DS_Store
results/changing_stickness/.DS_Store
__pycache__/dla_rand.cpython-38.pyc
__pycache__/networks.cpython-38.pyc
results/changing_stickness/.DS_Store
results/.DS_Store
results/changing_stickness/.DS_Store
results/.DS_Store
results/.DS_Store
.DS_Store
__pycache__/dla_rand_new.cpython-38.pyc
results/.DS_Store
results/.DS_Store
results/.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
97apZO
results/.DS_Store
results/.DS_Store
.ipynb_checkpoints/examples-checkpoint.ipynb
.ipynb_checkpoints/ignas-playground-checkpoint.ipynb
__pycache__/dla_model_final.cpython-38.pyc
